html {
    box-sizing: border-box;
    background: #eeeeee;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    font-weight: 200;
}

body {
    margin: 0;
}

*,
*:before,
*::after {
    box-sizing: inherit;
}

.site-wrap {
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    margin: 70px auto;
    background: white;
    padding: 40px;
    text-align: justify;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, .5);
    transform: scale(0.98);
    transition: transform 0.5s;
}

header {
    text-align: center;
    height: 50vh;
    margin: 5px auto;
    background: url(https://live.staticflickr.com/65535/50613582413_8e04c15b0a_k.jpg) center center no-repeat;
    background-size: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

h1 {
    color: white;
    font-size: 3em;
    text-shadow: 3px 4px 0 rgba(0, 0, 0, 0.2);
}

h2 {
    display: inline-block;
    text-align: center;
    color: white;
    font-size: 1em;
    text-shadow: 3px 4px 0 rgba(0, 0, 0, 0.2);
}

h3 {
    margin: 10px;
    font-size: 1.25em;
    text-align: left;
    font-weight: bold;
}

h3.primary {
    font-size: 1.25em;
}

h3.secondary {
    font-size: 1em;
    color: rgba(1, 1, 1, 0.2));
}

h3 a {
    color: black;
}

.course-links {
    color: black;
    text-align: left;
    justify-content: flex-start;
}

.container {
    display: flex;
}

.text-content-box {
    display: flex;
    flex: 2;
    flex-direction: column;
}

p {
    display: flex;
    font-size: .75em;
    text-align: left;
    margin: .75em;
}

p.project-title {
    font-size: .85em;
    font-weight: 500;
}

nav {
    background-color: black;
    top: 0;
    width: 100%;
    transition: all 0.5s;
    position: relative;
    z-index: 1;
}

body.fixed-nav nav {
    position: fixed;
    box-shadow: 0 5px 0 rgba(0, 0, 0, 0.1);
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
}

nav li {
    flex: 1;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

li.home {
    max-width: 0;
    overflow: hidden;
    background: white;
    transition: all 0.5s;
    font-weight: 600;
    font-size: 30px;
}

li.home a {
    color: black;
}

.fixed-nav li.home {
    max-width: 500px;
}

nav a {
    text-decoration: none;
    padding: 20px;
    display: inline-block;
    color: white;
    transition: all 0.2;
    text-transform: uppercase;
}

.image-box {
    display: flex;
    align-items: flex-end;
    /* justify-content: left; */
}

.edu-catalog-img {
    margin: 10px auto;
    height: auto%;
    width: 100%;
}

#self-portrait {
    margin: 50px auto;
    height: 25vw;
}


/* #main-content {
    position: relative;
}

#nav-bar-style {
    background-color: rgb(32, 32, 32);
    background-blend-mode: lighten;
} */


/* .nav-bar-text {
    color: azure;
}

.nav-title {
    font-weight: bold;
}

.navbar-nav {
    height: 50px;
}

.nav-link {
    color: azure;
} */


/* .container {
    border: none;
    margin-left: auto;
    margin-top: 10px;
    margin-right: auto;
    margin-bottom: 10px;
    padding: 10px;
} */


/* .content-box {
    background-color: #202020;
    background-blend-mode: lighten;
} */


/* 
.content-box-text {
    color: azure;
    font-family: Arial, Helvetica, sans-serif;
}

.image-box {
    size: auto;
}

.navbar-brand {
    font-size: 2em;
    border: 0px 0px 10px 10px;
} */